---
import Header from '../components/Header.astro';
import Welcome from '../components/Welcome.astro';
import Skills from '../components/Skills.astro';
import Layout from '../layouts/Layout.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	<div class="flex flex-col min-h-screen">
		<Header/>
		<Welcome />
	</div>
	<Skills/>
	<button class="fixed text-2xl z-100 bottom-5 right-5" onclick="window.scrollTo({ top: 0 })">⬆</button>
</Layout>
