---
// index.astro
import Header from '../components/Header.astro';
import Welcome from '../components/Welcome.astro';
import Skills from '../components/Skills.astro';
import Layout from '../layouts/Layout.astro';
import Projects from '../components/Projects.astro';
import ProjectWindow from '../components/ProjectWindow.astro';
---

<Layout>
	<div class="flex flex-col min-h-screen">
		<Header />
		<Welcome />
	</div>
	<Skills />
	<Projects/>
	<button id="scrollTopBtn" class="fixed text-2xl z-100 bottom-5 right-5 cursor-pointer">⬆</button>
</Layout>

<style>
	html {
		background-color: rgba(0, 0, 0, 0.95);
	}
</style>

<script>
  const btn = document.getElementById("scrollTopBtn");

	btn?.addEventListener("click", () => {
		window.scrollTo({
			top: 0,
			behavior: "smooth"  // ✅ smooth scrolling
		});
	});
</script>