---
// index.astro
import Header from '../components/Header.astro';
import Welcome from '../components/Welcome.astro';
import Skills from '../components/Skills.astro';
import Layout from '../layouts/Layout.astro';
import Projects from '../components/Projects.astro';
import ProjectWindow from '../components/ProjectWindow.astro';
---

<Layout>
	<div class="flex flex-col min-h-screen">
		<Header />
		<Welcome />
	</div>
	<Skills />
	<Projects/>
	<button class="fixed text-2xl z-100 bottom-5 right-5" onclick="window.scrollTo({ top: 0 })">⬆</button>
</Layout>

<style>
	html {
		background-color: rgba(0, 0, 0, 0.95);
	}
</style>